{{#partial "title"}}Home{{/partial}}

{{#partial "content"}}
    <div class="row">
        <div class="col pt-2 pl-0 pr-0">
            <div class="jumbotron" style="height: 80vh">
                <h1 class="display-4">Wildlife Tracker</h1>
                <p class="lead">Track Wildlife sightings for research purposes.</p>
                <hr class="my-4">
                <p>Environmental impact of the activities will be assessed through the data collected.</p>
                <a href="/animal/new" class="btn btn-success">Add Animal</a>
                <a href="/sightings/new" class="btn btn-success">New Sighting</a>
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-12 text-center">
            <p class="lead">&copy; 2020 Mark Watitwa</p>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}